* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Orbitron, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

.outer-container {
    display: flex;
    background-color: hsl(0,0%,95%);
    padding: 5px;
    border-radius: 20px 20px 45px 45px;
    box-shadow: 0 5px 50px 0px hsla(0,0%,20%,0.6);
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: stretch;
    background-color: hsl(0,0%,95%);
    padding: 5px;
    border-radius: 15px 15px 40px 40px;
    box-shadow: 0 5px 5px 0px hsla(0,0%,0%,0.25);
}

.calc-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 24px 0px;
    padding: 5px;
    min-height: 80px;
    max-width: 262px;
    border-radius: 10px;
    box-shadow: 0 0px 1px 5px hsla(0,0%,20%, 0.25), inset -4px 4px 8px 2px hsla(0,0%,80%, 0.25), inset 5px -5px 5px 0px hsla(30,30%,10%, 0.75);
    background-color: hsl(30,30%,15%);
    background: 
    repeating-linear-gradient( 
        90deg,
        hsl(30,30%,15%), 
        hsl(30,30%,15%) 10px, 
        hsl(30,30%,11%) 10px, 
        hsl(30,30%,11%) 11px
    );
    word-wrap: break-word;
    word-break: break-all;
}

.previous-calc {
    font-size: 0.9em;
    color: hsl(0,0%,55%);
    text-shadow: 0px 0.5px 1px hsla(0,0%,80%, 0.5);
}

.current-calc {
    font-size: 1.6em;
    color: hsl(0,0%,75%);
    text-shadow: 0px 1px 2px hsla(0,0%,80%, 0.5);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.key {
    min-height: 60px;
    min-width: 60px;
    border-radius: 30px;
    border: none;
    background-color: hsl(10,10%,90%);
    box-shadow: 
        0 4px 4px 1px rgba(0,0,0,0.25), 
        0 0 8px 1px rgba(255,255,255,0.75), 
        inset -4px 8px 1px 1px hsla(0,0%,15%, 0.15);
    font-family: 
        Orbitron, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: hsl(0,0%,45%);
    text-shadow: 0px 1px 2px hsl(0,0%,50%);
}

.operator {
    background-color: hsl(176,19%,73%);
    box-shadow: 
        0 4px 4px rgba(0,0,0,0.25), 
        0 0 5px 1px rgba(255,255,255,0.75), 
        inset -5px 10px 1px rgba(40,95,107, 0.2);
}

.enter {
    background-color: hsl(25,33%,65%);
    grid-row: span 2;
}

.del {
    background-color: hsl(25,33%,65%);
}


.key:hover {
    background-color: hsl(0,0%,85%);
}

.operator:hover {
    background-color: hsl(176,19%,65%);
}

.enter:hover {
    background-color: hsl(25,33%,60%)
}

.del:hover {
    background-color: hsl(25,33%,60%)
}

.zero {
    grid-column: span 2;
}